@model List<ResultServiceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfanın Service Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfadaki Hizmetler alanında bulunan bilgileri bu sayfadan düzenleyebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Icon URL</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <th>@item.Name</th>
                                            <th>@item.Description</th>
                                            <th>@item.IconUrl</th>
                                            <th><a href="/Admin/AdminService/RemoveService/@item.ServiceID" class="btn btn-outline-danger">Sil</a></th>
                                            <th><a href="/Admin/AdminService/UpdateService/@item.ServiceID" class="btn btn-outline-success">Güncelle</a></th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminService/CreateService/" class="btn btn-outline-primary">Yeni Hizmet Girişi</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>