@model UpdateCarDto

@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Araç Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Araç ile ilgili bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet butonuna tıklayarak güncelleme işlemini tamamlayabilirsiniz..</p>

                        <form method="post">
                            <input type="hidden" asp-for="CarID" />
                            <div class="form-group">
                                <label for="exampleInputEmail1">Marka</label>
                                @Html.DropDownListFor(x => x.BrandID, (List<SelectListItem>)ViewBag.BrandValues, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputModel">Model</label>
                                <input asp-for="Model" type="text" class="form-control" id="exampleInputModel" placeholder="Model girişi yapınız..." />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputCoverImage">Kapak Fotoğrafı</label>
                                <input asp-for="CoverImageUrl" type="text" class="form-control" id="exampleInputCoverImage" placeholder="Kapak fotoğrafı linkini giriniz.." />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputKm">Km</label>
                                <input asp-for="Km" type="number" class="form-control" id="exampleInputKm" placeholder="Km girişi yapınız..." />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTransmission">Vites Türü</label>
                                <input asp-for="Transmission" type="text" class="form-control" id="exampleInputTransmission" placeholder="Vites türü girişi yapınız..." />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputSeat">Koltuk Sayısı</label>
                                <input asp-for="Seat" type="number" class="form-control" id="exampleInputSeat" placeholder="Koltuk sayısı girişi yapınız..." />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputLuggage">Bagaj Sayısı</label>
                                <input asp-for="Luggage" type="number" class="form-control" id="exampleInputLuggage" placeholder="Bagaj sayısı girişi yapınız..." />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFuel">Yakıt Türü</label>
                                <input asp-for="Fuel" type="text" class="form-control" id="exampleInputFuel" placeholder="Yakıt türü girişi yapınız..." />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputBigImage">Büyük Kapak Fotoğrafı</label>
                                <input asp-for="BigImageUrl" type="text" class="form-control" id="exampleInputBigImage" placeholder="Büyük kapak fotoğrafı linkini giriniz.." />
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Aracı Kaydet</button>
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
